<div class="task">
  <a routerLink="" class="_btn">Назад</a>
  @if (isView) {
    <div class="task__view">
      <div class="task__wrapper">
        <div class="label">Название</div>
        <span class="value">{{ task.title }}</span>
      </div>
      <div class="task__wrapper">
        <div class="label">Описание</div>
        <span class="value">{{ task.description ? task.description : 'нет описания' }}</span>
      </div>
      <div class="task__wrapper">
        <div class="label">Исполнители</div>
        <div class="assignees">
        @for (assignee of task.assignees; track assignee) {
          <span>{{ assignee.name }}</span>
        } @empty {
          нет исполнителей
        }
        </div>

      </div>
      <div class="task__wrapper">
        <div class="label">Приоритет</div>
        <span class="value">{{ task.priority }}</span>
      </div>
      <div class="task__wrapper">
        <div class="label">Статус</div>
        <span class="value">{{ task.status }}</span>
      </div>
      <div class="task__wrapper">
        <div class="label">Дедлайн</div>
        <span class="value">{{ task.deadline ? (task.deadline | date) : 'Пока не задан' }}</span>
      </div>
      <button (click)="isView = false" class="_btn">Редактировать</button>
    </div>
  } @else {
    <div class="task__edit">
      <form class="task__edit-form" [formGroup]="formGroup">
        <div class="wrapper">
          <app-input [control]="control('title')" placeholder="Название" />
          <app-input [type]="'textarea'" [control]="control('description')" placeholder="Описание" />
          <app-datepicker [control]="control('deadline')" placeholder="Дедлайн" [minDate]="today" />
          <app-input-select [items]="assignees" [bindLabel]="'name'"
                            [control]="control('assignees')"
                            [multiple]="true" placeholder="Исполнители" />
          <app-input-select [bindLabel]="'label'" [bindValue]="'value'" [items]="taskPriorities"
                            [control]="control('priority')" placeholder="Приоритет" />
          <app-input-select [items]="taskStatus" [bindLabel]="'label'" [bindValue]="'value'"
                            [control]="control('status')"
                            placeholder="Статус" />


        </div>
        <button type="submit" class="_btn" (click)="submit()">Сохранить</button>
      </form>
    </div>
  }

</div>
