@import "variables";
@import "mixins";

.pages {
  min-height: 100svh;
  background-image: var(--bg);

  &__wrapper {
    display: flex;
  }

  &__content {
    padding: 30px;
    width: 100%;
    height: 100%;
  }
}
