@import "variables";
@import "mixins";

.pages {
  background-image: var(--bg);

  &__wrapper {
    display: flex;
    height: 100svh;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    max-height:calc(100svh - 50px);
    @include customScrollGray
  }
}
