@import "variables";

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray);
  padding: 20px;
  max-width: 100%;

  @media only screen and (max-width: $tablet) {
    padding: 25px 15px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid #E2ECF2;

    .btn-close {
      color: var(--black);
      transition: color .3s;

      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__content {
    flex: 1;
    padding-top: 20px;

    .mat-mdc-dialog-content {
      height: 100%;
      padding: 0;
      max-height: 100%;
    }
  }
}
