<div class="task">
  <div class="task__inner">
    <div class="task__wrapper">
      <span class="label">Название:</span>
      <span>{{ task.title }}</span>
    </div>
    <div class="task__wrapper">
      <span class="label">Статус:</span>
      <span>{{ task.status }}</span>
    </div>
    <div class="task__wrapper">
      <span class="label">Приоритет:</span>
      <span>{{ task.priority }}</span>
    </div>
    <div class="task__wrapper">
      <span class="label">Исполнители:</span>
      @for (assignee of task.assignees; track assignee) {
        {{ assignee.name }}
      } @empty {
        нет исполнителей
      }
    </div>
  </div>
  <button class="delete" (click)="deleteTask(task.id)">
    <app-close-icon [width]="15" [height]="15" />
  </button>
  <a class="_btn" [routerLink]="'tasks/'+ task.id">Подробнее</a>
</div>
