@import "variables";

.task {
  width: 100%;
  border: 1px solid var(--dark-gray);
  border-radius: 15px;
  padding: 10px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
