@import "variables";

.task {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  border: 1px solid var(--dark-gray);
  border-radius: 15px;
  padding: 10px;
  position: relative;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .delete {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    color: var(--red);

    transition: opacity .3s;

    @media(hover: hover) {
      &:hover {
        opacity: .5;
      }
    }
  }

  .more-link {
    transition: opacity .3s;

    @media(hover: hover) {
      &:hover {
        opacity: .5;
      }
    }
  }
}
