:root {
  --black: #000000;
  --white: #ffffff;
  --dark-gray: #2E2E30;
  --light-gray: #424244;
  --red: #e93636;
  --bg: linear-gradient(90deg, rgba(30,31,33,1) 0%, rgba(61,62,64,1) 100%);
  --font-color-default: var(--white);
  --font-family-primary: 'Segoe UI', sans-sarif;
  --font-size-base: 14px;
  --line-height-base: 22px;
  --font-weight-base: 400;
}

//breakpoints
$tiny: 480px;
$small: 768px;
$tablet: 1024px;
$medium: 1280px;
$large: 1441px;
$m-large: 1850px;
$x-large: 2560px;
