@import "variables";

.input-select {
.ng-select {
  min-width: 150px;
  .ng-select-container {
    background-color: var(--dark-gray);
    color: var(--white);
  }

  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
    .ng-option {
      background-color:  var(--dark-gray);
      color: var(--white)
    }
    }
  }
}
}
