<div class="input-select">
  <app-form-control
    [control]="control"
    [withError]="withError"
    [title]="title"
    [showErrors]="showError"
  >
    <ng-select
      #select
      [items]="items"
      [searchable]="false"
      [clearable]="clearable"
      [disabled]="disabled"
      [readonly]="readonly"
      dropdownPosition="bottom"
      [formControl]="control"
      [placeholder]="placeholder"
      [bindValue]="bindValue"
      [bindLabel]="bindLabel"
      [class.error]="withError || errors.length"
      (change)='onSelect($event)'
      [searchFn]="customSearchFn"
      [class.isSearch]="searchable"
      [multiple]="multiple"
      (clear)="onCLear()"
    >
    </ng-select>
  </app-form-control>
</div>
