<app-form-control
  [control]="control"
  [withError]="withError"
  [title]="title"
  [placeholder]="placeholder"
  [showErrors]="showError"
>
  @if (type !== 'textarea') {
    <input
      #input
      class="control-input"
      [formControl]="control"
      autocomplete="off"
      [class.disabled]="disabled"
      [class.error]="withError || errors.length"
      [attr.disabled]="disabled"
      [readonly]="readonly"
      [type]="type"
      (change)="onChange()"
      [maxlength]="maxlength"
      (beforeinput)="onKeyPress($event)"
    />
  }
  @if (type === 'textarea') {
    <textarea
      #input
      class="control-input"
      [formControl]="control"
      autocomplete="off"
      [class.disabled]="disabled"
      [class.error]="withError || errors.length"
      [attr.disabled]="disabled"
      [readonly]="readonly"
      (change)="onChange()"
      [maxlength]="maxlength"
    ></textarea>
  }
</app-form-control>
