<div class="datepicker">
  <app-form-control
    [control]="control"
    [withError]="withError"
    [title]="title"
    [showErrors]="showError"
    [placeholder]="placeholder"
  >

    <div class="datepicker__wrapper">
      <input readonly matInput [matDatepicker]="picker" [formControl]="control" [min]="minDate" [max]="maxDate">
      <mat-datepicker-toggle class="toggle" matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

  </app-form-control>
</div>
