.datepicker {
  &__wrapper {
    position: relative;

    input {
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
      width: 100%;
      box-shadow: none;
      appearance: none;
      transition: border-color .3s;
      color: var(--white);
      position: relative;
      z-index: 1;
      background: var(--dark-gray);
      font-size: 15px;
      line-height: 20px;
    }

    .toggle {
      display: flex;
      align-items: center;
      max-height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;

    }
  }
}
